@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.signup-btn, .brown-btn, .header-menu ul, .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-wrapper {
  width: 100%;
  height: auto;
  background-color: rgba(246, 231, 198, 0.4666666667);
}

.header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: inherit;
  height: 90px;
  background-color: #463632;
}

.header-logo {
  margin-left: 195px;
}
.header-logo a {
  font-family: "Martel";
  font-size: 40px;
  font-weight: 700;
  line-height: 32px;
  color: #F6E7C6;
  text-decoration: none;
}
.header-logo a:hover {
  font-weight: 700;
  color: #f3f0eb;
}

.header-menu {
  margin-right: 195px;
}
.header-menu ul li {
  margin-right: 30px;
}
.header-menu ul li:last-child {
  margin-right: 0;
}
.header-menu ul a {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  color: #F6E7C6;
  text-decoration: none;
}
.header-menu ul a:hover {
  font-weight: 700;
  color: #f3f0eb;
}

.burger-menu-icon {
  position: absolute;
  top: 23px;
  right: 35px;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 35px;
  display: none;
}

.burger-menu-icon span,
.burger-menu-icon:after,
.burger-menu-icon:before {
  height: 2px;
  width: 18px;
  position: absolute;
  background: #F6E7C6;
  margin: 0 auto;
}

.burger-menu-icon span {
  top: 10px;
}

.burger-menu-icon:after,
.burger-menu-icon:before {
  content: "";
}

.burger-menu-icon:after {
  bottom: 3px;
  text-align: right;
}

.burger-menu-icon:before {
  top: 5px;
}

.burger-menu-icon.open-menu span {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.burger-menu-icon.open-menu:before {
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  top: 13px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.burger-menu-icon.open-menu:after {
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
  bottom: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.burger-menu {
  position: absolute;
  top: 50px;
  right: 0;
  background: #463632;
  width: 280px;
  height: auto;
  right: -100%;
  opacity: 0;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  z-index: 600;
  padding: 20px 10px;
}

.burger-menu.open-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  right: 0;
  opacity: 1;
}

.burger-menu__items {
  margin: 15px 0 0 41px;
}

.burger-menu_container {
  margin-left: 30px;
}

.burger-menu__item a {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  color: #faf9f8;
  text-decoration: none;
  margin-bottom: 30px;
}
.burger-menu__item a:hover {
  font-weight: 700;
  color: #F6DBC6;
}

.burger-menu_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.burger-menu_button a {
  color: #FFF;
}

body.fixed-page {
  overflow: hidden;
}

.privacy-copyright, .contact-me__bottom-container, .contact-me_top, .partners-logos, .testimonials-slider_container, .about-me_bottom, .service-item, .welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-me_right li, .services_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fotter, .input-container_group, .contact-me_left, .contact-me, .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fotter-contacts, .partners, .testimonials, .about-me, .services-top, .popup-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome {
  margin: 0 195px 120px;
}

.welcome-left {
  width: 50%;
  height: auto;
  margin-top: 80px;
}
.welcome-left h1 {
  font-family: "Martel";
  font-size: 58px;
  font-weight: 900;
  font-style: normal;
  line-height: 65px;
  letter-spacing: 1.2;
  color: #463632;
  width: 509px;
  margin-bottom: 35px;
}
.welcome-left h4 {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 1.2;
  text-align: center;
  color: #463632;
  width: 509px;
  margin-bottom: 35px;
  text-align: left;
}

.brown-btn {
  width: 155px;
  height: 48px;
  background-color: #81655e;
  border-radius: 37px;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 1.2;
  color: #faf9f8;
}
.brown-btn:hover {
  background-color: #463632;
}

.popup-wind {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 500;
  visibility: hidden;
  /* display:none; */
  -webkit-transition: 0.55s opacity, 0.55s;
  transition: 0.55s opacity, 0.55s;
  opacity: 0;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}
.close-icon img {
  width: 20px;
  height: 20px;
}

.popup-container {
  width: 650px;
  height: auto;
  border: 2px solid #AC9C8C;
  padding: 58px 30px 38px;
  border-radius: 5px;
  border: 2px solid #81655e;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 500;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
}

.popup-bg {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  /* display:none; */
  -webkit-transition: 0.55s opacity, 0.55s;
  transition: 0.55s opacity, 0.55s;
  opacity: 0;
}

.popup-wind.is-show .popup-container,
.popup-wind.is-show .popup-bg {
  opacity: 1;
  -webkit-transition: 0.75s opacity, 0.75s;
  transition: 0.75s opacity, 0.75s;
  visibility: visible;
  /* display:block; */
}

.popup-wind.is-show {
  opacity: 1;
  -webkit-transition: 0.75s opacity, 0.75s;
  transition: 0.75s opacity, 0.75s;
  visibility: visible;
  /* display:block; */
}

.top-popup {
  width: 350px;
  height: auto;
}
.top-popup h3 {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  line-height: 32px;
  letter-spacing: 1.2;
  text-align: center;
  color: #463632;
  margin-bottom: 25px;
}
.top-popup p {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 1.2;
  color: #81655e;
}

.input-container {
  width: 585px;
  min-height: 89px;
  margin-bottom: 12px;
  position: relative;
}
.input-container input {
  width: 585px;
  height: 50px;
  padding: 8px;
  border: 1px solid #AC9C8C;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
}
.input-container input::-webkit-input-placeholder {
  color: #AC9C8C;
}
.input-container input::-moz-placeholder {
  color: #AC9C8C;
}
.input-container input:-ms-input-placeholder {
  color: #AC9C8C;
}
.input-container input::-ms-input-placeholder {
  color: #AC9C8C;
}
.input-container input::placeholder {
  color: #AC9C8C;
}
.input-container input:hover {
  border: 1px solid #81655e;
}
.input-container label {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 1.2;
  color: #81655e;
  margin-bottom: 10px;
}

.input-container_label {
  position: absolute;
  top: 10px;
  left: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.input-container_label.to-top {
  top: 0;
}

.form-input {
  width: 585px;
  height: 50px;
  padding: 8px;
  border: 1px solid #AC9C8C;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 1.2;
  color: #463632;
}
.form-input::-webkit-input-placeholder {
  color: #AC9C8C;
}
.form-input::-moz-placeholder {
  color: #AC9C8C;
}
.form-input:-ms-input-placeholder {
  color: #AC9C8C;
}
.form-input::-ms-input-placeholder {
  color: #AC9C8C;
}
.form-input::placeholder {
  color: #AC9C8C;
}
.form-input:hover {
  border: 1px solid #81655e;
}

.input-error,
.name-error,
.email-error,
.role-error {
  font-family: "Open Sans";
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 1.2;
  color: rgb(126, 7, 7);
}

.signup_user-agriment-custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 1.2;
  color: #81655e;
}

#agriment,
#agriment2 {
  display: none;
}

#agriment + label span,
#agriment2 + label span {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  border: 1px solid #AC9C8C;
  border-radius: 3px;
  overflow: hidden;
  margin-right: 8px;
}

#agriment:hover + label span,
#agriment:focus + label span,
#agriment2:hover + label span,
#agriment2:focus + label span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #81655e;
  cursor: pointer;
}

#agriment:checked + label span,
#agriment2:checked + label span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  background-color: #81655e;
  border: none;
}

.agriment-sp2,
.agriment-sp4 {
  display: none;
  width: 12px;
  height: 13px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 10;
}

#agriment:hover + label img.agriment-sp2,
#agriment2:hover + label img.agriment-sp4 {
  display: block;
}

#agriment:checked + label img.agriment-sp2,
#agriment2:checked + label img.agriment-sp4 {
  display: none;
}

.agriment-sp1,
.agriment-sp3 {
  display: none;
  width: 12px;
  height: 13px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 20;
}

#agriment:checked + label img.agriment-sp1,
#agriment2:checked + label img.agriment-sp3 {
  display: block;
}

#agriment.error-check + label span,
#agriment2.error-check + label span {
  background-color: rgb(126, 7, 7);
}

.link_und a {
  margin-left: 5px;
  color: rgb(2, 2, 90);
}
.link_und a:hover {
  color: rgb(2, 2, 119);
}

.signup-btn {
  width: 155px;
  height: 48px;
  background-color: #81655e;
  border-radius: 37px;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 1.2;
  color: #faf9f8;
  width: 585px;
  height: 48px;
  border-radius: 0;
  margin: 0 auto 30px;
}
.signup-btn:hover {
  background-color: #463632;
}

.welcome-right {
  width: 650px;
  height: 373px;
  background-color: #F6E7C6;
  margin: 80px 0 0 50px;
  position: relative;
}
.welcome-right img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.services {
  width: 1050px;
  margin: 0 195px 120px;
}

.services-top {
  margin-bottom: 45px;
}
.services-top h2 {
  font-family: "Martel";
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1.2;
  color: #463632;
  margin-bottom: 15px;
}
.services-top p {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 1.2;
  color: #81655e;
}

.services_container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1046px;
  margin: 0 auto 45px;
}

.service-item {
  width: 350px;
  margin: 0 30px 30px 0;
  border-radius: 8px;
  padding: 15px;
  background: #463632;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.service-item:nth-of-type(2), .service-item:nth-of-type(4), .service-item:nth-of-type(5) {
  margin-right: 0;
}
.service-item:hover {
  -webkit-box-shadow: 6px 11px 16px 1px rgb(246, 231, 198);
          box-shadow: 6px 11px 16px 1px rgb(246, 231, 198);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.service-item img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.service-content h4 {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 1.2;
  text-align: center;
  color: #463632;
  margin-bottom: 15px;
  color: #faf9f8;
}
.service-content p {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 1.2;
  color: #81655e;
  color: #faf9f8;
  font-weight: 400;
}

.about-me {
  width: inherit;
  margin: 0 195px 120px;
}

.about-me_top {
  max-width: 468px;
  text-align: center;
  margin-bottom: 45px;
}
.about-me_top h2 {
  font-family: "Martel";
  font-size: 40px;
  font-weight: 900;
  font-style: normal;
  line-height: 65px;
  letter-spacing: 1.2;
  color: #463632;
  margin-bottom: 30px;
}
.about-me_top p {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 1.2;
  color: #81655e;
}

.about-me_image {
  width: 597px;
  height: 442px;
  background-color: #F6D0C7;
  margin-right: 50px;
}

.about-me_right h2 {
  font-family: "Martel";
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1.2;
  color: #463632;
  margin-bottom: 25px;
}
.about-me_right p {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 1.2;
  color: #81655e;
  margin-bottom: 15px;
}
.about-me_right li {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 1.2;
  color: #81655e;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 350px;
  margin-bottom: 15px;
}
.about-me_right img {
  height: 35px;
  margin-right: 30px;
}

.testimonials {
  width: inherit;
  background-color: #F6DBC6;
  padding: 50px 15px;
}

.testimonials-top {
  max-width: 468px;
  text-align: center;
  margin-bottom: 45px;
}
.testimonials-top h2 {
  font-family: "Martel";
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1.2;
  color: #463632;
  margin-bottom: 30px;
  color: #463632;
}
.testimonials-top p {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 1.2;
  color: #81655e;
  color: #463632;
}

.testimonials-slider {
  width: 1200px;
  min-height: 300px;
  margin: 30px;
}

.testimonials-slider .slick-prev,
.testimonials-slider .slick-next {
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #463632;
  border-radius: 12.5px;
  background-color: #faf9f8;
  z-index: 50;
}

.testimonials-slider .slick-prev:before,
.testimonials-slider .slick-next:before {
  color: #463632;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.testimonials-slider_container {
  width: 450px;
  min-height: 252px;
  padding: 15px 15px 15px 0;
  position: relative;
  background-color: #fff;
  margin-left: 15%;
}

.testimonials-slider_photo {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  top: 40px;
  left: -30px;
}
.testimonials-slider_photo img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonials-slider_text {
  width: 341px;
}
.testimonials-slider_text h3 {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  line-height: 32px;
  letter-spacing: 1.2;
  text-align: center;
  color: #463632;
  color: #463632;
  margin-bottom: 5px;
}
.testimonials-slider_text span {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 1.2;
  color: #81655e;
  font-weight: 700;
  color: #463632;
  margin-bottom: 30px;
}
.testimonials-slider_text p {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 1.2;
  color: #81655e;
  line-height: 20px;
  font-weight: 400;
}

.testimonials-slider_pagination-container {
  bottom: -20px;
}

.testimonials-slider_pagination-page {
  background: #ccc;
  border: 0;
  border-radius: 50%;
  display: inline-block;
  height: 9px;
  margin: 3px;
  opacity: 0.7;
  padding: 0;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  width: 9px;
}

.is-active.testimonials-slider_pagination-page {
  border: 1px #463632 solid;
}

.partners {
  width: 100%;
  height: auto;
  margin: 80px 0;
  position: relative;
}

.partners-top {
  max-width: 864px;
  margin: 0 auto;
}
.partners-top h2 {
  font-family: "Martel";
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1.2;
  color: #463632;
  text-align: center;
  margin-bottom: 15px;
}
.partners-top p {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 1.2;
  color: #81655e;
  text-align: center;
  margin-bottom: 50px;
}

.partners-logos {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.partners-logos img {
  width: 100%;
  height: 40px;
  margin-right: 10px;
}

.contact-me {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-me_top {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #463632;
  padding: 0 120px;
}

.contact-me_left {
  max-width: 602px;
  margin-right: 60px;
}
.contact-me_left h2 {
  font-family: "Martel";
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1.2;
  color: #463632;
  color: #F6E7C6;
  margin-bottom: 15px;
}
.contact-me_left p {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 1.2;
  color: #81655e;
  color: #F6E7C6;
}

.contact-me_right img {
  width: 600px;
  height: auto;
}

.contact-me__bottom {
  width: 100%;
  height: 700px;
  position: relative;
  background-color: rgba(246, 231, 198, 0.4666666667);
}

.contact-me__bottom-container {
  height: 665px;
  margin: 0 auto;
  background-color: #fff;
  position: absolute;
  top: -120px;
  left: 180px;
}

.contact-me__bottom-img {
  width: 500px;
  height: 665px;
  background-color: #AC9C8C;
  position: relative;
}
.contact-me__bottom-img img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact-me_contact-form {
  max-width: 668px;
  padding-left: 30px;
}

.signup-form_bottom {
  max-width: 668px;
  padding: 50px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-container_group {
  position: relative;
  margin-bottom: 15px;
  height: 74px;
}
.input-container_group.textarea_input {
  height: 168px;
}

.input-container__msg {
  width: 585px;
  height: 150px;
  padding: 11px 13px 11px 21px;
  border: 1px solid #AC9C8C;
  -webkit-transition: outline-color 500ms;
  transition: outline-color 500ms;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 1.2;
  color: #463632;
  overflow-y: auto; /* або scroll, в залежності від ваших потреб */
  scrollbar-width: thin; /* для Firefox */
  scrollbar-color: #81655e rgba(246, 231, 198, 0.7960784314); /* колір і фон scrollbar */
}
.input-container__msg--webkit-scrollbar {
  border-radius: 6px;
  height: 6px;
  width: 4px;
}
.input-container__msg--webkit-scrollbar-thumb {
  background: #AC9C8C;
  border-radius: 6px;
}
.input-container__msg::-webkit-scrollbar-track {
  border-radius: 6px;
}

.input-container_label {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 1.2;
  color: #81655e;
  margin-bottom: 10px;
  position: absolute;
  top: 0;
  left: 0;
  translate: 10px 10px;
  -webkit-transition: translate 500ms, scale 500ms;
  transition: translate 500ms, scale 500ms;
}
.input-container_label.label-up {
  padding-inline: 5px;
  top: 5px;
  translate: 10px -20px;
  background-color: #fff;
  padding: 2px;
  font-size: 18px;
}

.fotter {
  width: 100%;
  min-height: 120px;
  background-color: #463632;
}

.fotter-contacts {
  padding: 50px 120px;
}

.fotter-contacts__email {
  margin-bottom: 30px;
}
.fotter-contacts__email a {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 1.2;
  color: #81655e;
  color: #F6E7C6;
}
.fotter-contacts__email a:hover {
  color: rgba(246, 231, 198, 0.7960784314);
}
.fotter-contacts__email a:focus {
  color: rgba(246, 231, 198, 0.7960784314);
}
.fotter-contacts__email a:visited {
  color: rgba(246, 231, 198, 0.7960784314);
}

.fotter-contacts_socials {
  margin-bottom: 50px;
}
.fotter-contacts_socials svg {
  width: 30px;
  height: 30px;
}
.fotter-contacts_socials svg:hover g {
  fill: rgba(246, 231, 198, 0.7960784314);
}
.fotter-contacts_socials svg:focus g {
  fill: rgba(246, 231, 198, 0.7960784314);
}

.privacy-copyright {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 120px;
  margin-bottom: 30px;
}
.privacy-copyright p {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 1.2;
  color: #81655e;
  color: #F6E7C6;
}
.privacy-copyright a {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 1.2;
  color: #81655e;
  color: #F6E7C6;
}
.privacy-copyright a:hover {
  color: rgba(246, 231, 198, 0.7960784314);
}
.privacy-copyright a:focus {
  color: rgba(246, 231, 198, 0.7960784314);
}
.privacy-copyright a:visited {
  color: rgba(246, 231, 198, 0.7960784314);
}