$font-col1:#81655e;
$font-col2:#AC9C8C;
$font-col3:#463632;
$link-col:rgb(2, 2, 90);
$link-col2:rgb(2, 2, 119);
$error-col:rgb(126, 7, 7);
$bg-col1:#F6D0C7;
$bg-col2:#F6E7C6;
$bg-col3:#f6e7c6cb;
$bg-col4:#f3f0eb;
$color5: #F6DBC6;
$color6: #faf9f8;
$bg-col6:#f6e7c677;
$border1:1px solid $font-col2;
$border2:1px solid $font-col1;
$box-shadow1: 6px 11px 16px 1px rgba(246,231,198,1);

$martel_f:'Martel';
$montserrat_f:'Montserrat';
$open_f:'Open Sans';

$h1: 58px;
$h2:40px;
$h3:24px;
$h4:20px;
$text:16px;
$text-input:12px;
$text-error:11px;
$fw900: 900;
$fw700: 700;
$fw600:600;
$fw500:500;
$fw400:400;

$lh65:65px;
$lh50:50px;
$lh32:32px;
$lh30:30px;
$lh28:28px;
$lh24:24px;

$ls2:1.2;
$mar-auto:0 auto;
$mar-main:0 195px 120px;